<nav class="navbar navbar-expand-lg navbar-dark fixed-top">

  <a class="navbar-brand" routerLink="/">
    Ticket App
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <form class="form-inline" [formGroup]="filterForm" (ngSubmit)="submit()">
        <input class="form-control mr-sm-2" type="text" id="search" placeholder="Search" formControlName="search" style="background-color: transparent; border:none; color: white; border-bottom: 1px solid white">
      </form>

      <li class="nav-item">
        <a class="nav-link" routerLink="/movielist">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/ticketlist">Tickets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cinemalist">Cinemas</a>
      </li>

      <!-- Notifications -->
      <li class="nav-item nav-link" *ngIf="token">
        <span *ngIf="countUnread() > 0" class="badge badge-pill badge-warning" style="font-size:x-small;float:right;margin-bottom:-10px;">{{countUnread()}}</span>
        <div class="dropdown">
          <a class="dropdown-toggle" type="button" id="notificationDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a href="#"><i class="material-icons">notifications</i></a>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdownButton" id="notifications">
            <div class="container text-center" *ngIf="notifications.length == 0">
              <p style="color: white">No notification to show as of yet</p>
            </div>
            <div class="container" *ngIf="notifications.length>0">
              <form>
                <div class="card" *ngFor="let notification of notifications" [style]="{ 'background-color': (notification.read ? 'rgba(0,0,0,0.2)' : 'rgba(240,173,48,0.1)')}">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <span style="font-size: medium; width: 65%" class="text-truncate">{{notification.title}}</span>
                      <span>{{notification.created | date:"d MMM y"}}</span>
                    </div>
                    <p>{{notification.message}}</p>
                  </div>
                </div>
                <a (click)="loadMore()">Load more</a>
              </form>
            </div>
          </div>
        </div>
      </li>

      <!-- Profile info -->
      <li class="nav-item nav-link">
        <div class="dropdown">
          <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a *ngIf="!token" class="dropdown-item" routerLink="/login">Login</a>
            <a *ngIf="!token" class="dropdown-item" routerLink="/signup">Sign up</a>
            <a *ngIf="token" class="dropdown-item" routerLink="/profile">Profile {{token.slice(0,5)}}</a>
            <a *ngIf="token" class="dropdown-item" routerLink="#">My cinema</a>
            <a *ngIf="token" class="dropdown-item" routerLink="#">Admin page</a>
            <a *ngIf="token" class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
