<div class="container-fluid " style="height: 80vh; width: 100%;">
  <form>
    <div class="form-row d-flex justify-content-between ">
      <h2 class="text-warning align-self-end">Filters</h2>
      <a type="clear" class="align-self-end" style="color: white">Clear</a>
    </div>
    <hr class="border-warning">

    <div class="form-group">
      <label for="order">Order by:</label>
      <select class="form-control form-control-sm border-warning text-warning" id="order" style="background-color: transparent;">
        <option>Trending</option>
        <option>Popular</option>
        <option>New</option>
        <option>Old</option>
        <option>Near You</option>
        <option>Purchase date</option>
      </select>
    </div>

    <div class="form-group">
      <label for="genre">Genre:</label>
      <select class="form-control form-control-sm border-warning text-warning" id="genre" style="background-color: transparent;">
        <option>Genre</option>
      </select>
    </div>

    <div class="form-group">
      <label for="time">Runtime:</label>
      <select class="form-control form-control-sm border-warning text-warning" id="time" style="background-color: transparent;">
        <option>Runtime</option>
      </select>
    </div>

    <div class="form-group">
      <label for="rating">Rating:</label>
      <select class="form-control form-control-sm border-warning text-warning" id="rating" style="background-color: transparent;">
        <option>Rating</option>
      </select>
    </div>

    <div class="form-group">
      <label for="cinemaName">Theatre Name:</label>
      <select class="form-control form-control-sm border-warning text-warning" id="cinemaName" style="background-color: transparent;">
        <option>Cinema Name</option>
      </select>
    </div>

    <div class="form-group">
      <label for="cinemaCity">Theatre City:</label>
      <select class="form-control form-control-sm border-warning text-warning" id="cinemaCity" style="background-color: transparent;">
        <option>Cinema City</option>
      </select>
    </div>
  </form>
</div>
