<section class="cinemalist">
  <div class="container">
    <!--Accordion wrapper-->
    <div class="accordion md-accordion accordion-4" id="accordionEx2" role="tablist" aria-multiselectable="true">

      <!-- Accordion card -->
      <div class="card border-warning bg-transparent">

        <!-- Card header -->
        <div class="card-header" role="tab" id="heading10">
          <h4 data-toggle="collapse" data-parent="#accordionEx2" href="#collapse10" aria-expanded="true"
              aria-controls="collapse10">
            Cinema Name
          </h4>
        </div>

        <!-- Card body -->
        <div id="collapse10" class="collapse show" role="tabpanel" aria-labelledby="heading10"
             data-parent="#accordionEx2">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8">
                <div class="container">
                  <h4>Address</h4>
                  <p>Address, Street</p>
                  <p>City, Country</p>
                  <h4>Phone Contact</h4>
                  <p>Phone</p>
                  <p>Telephone</p>
                  <h4>Email</h4>
                  <p>email addres</p>
                  <a routerLink="/movielist" class="btn btn-warning">See movie selection</a>
                </div>
              </div>
              <div class="col-lg-4">
                <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
                  <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
                  var setting = {"height":350,"width":803,"zoom":17,"queryString":"Universidade de Aveiro, Aveiro, Portugal","place_id":"ChIJK9obTqqiIw0RhVRHSWeXC9c","satellite":false,"centerCoord":[40.629906213625446,-8.657179649999994],"cid":"0xd70b976749475485","lang":"en","cityUrl":"/portugal/aveiro-2091","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"318150"};
                  var d = document;
                  var s = d.createElement('script');
                  s.src = 'https://1map.com/js/script-for-user.js?embed_id=318150';
                  s.async = true;
                  s.onload = function (e) {
                    window.OneMap.initMap(setting)
                  };
                  var to = d.getElementsByTagName('script')[0];
                  to.parentNode.insertBefore(s, to);
                })();</script></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion card -->

      <!-- Accordion card -->
      <div class="card border-warning" style="background-color: transparent">

        <!-- Card header -->
        <div class="card-header" role="tab" id="heading11">
          <h4 data-toggle="collapse" data-parent="#accordionEx2" href="#collapse11" aria-expanded="true"
              aria-controls="collapse10">
            Cinema Name
          </h4>
        </div>

        <!-- Card body -->
        <div id="collapse11" class="collapse" role="tabpanel" aria-labelledby="heading11"
             data-parent="#accordionEx2">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-8">
                <div class="container">
                  <h4>Address</h4>
                  <p>Address, Street</p>
                  <p>City, Country</p>
                  <h4>Phone Contact</h4>
                  <p>Phone</p>
                  <p>Telephone</p>
                  <h4>Email</h4>
                  <p>email addres</p>
                  <a routerLink="/movielist" class="btn btn-warning">See movie selection</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Accordion card -->

    </div>
    <!--/.Accordion wrapper-->
  </div>
</section>
