
body
{
  width: auto;
  height: auto;
  background-color: #2e2e2e !important;
  overflow:auto;

}

.banner
{
  margin: 8% 0 0 0;
  background-color: #2e2e2e !important;
  height: 140px;
}

.form-cinema
{
  margin: auto;
}


label
{
  color: white;
}

input[type=text]
{
  width: 30em;
  border-color: #ffc107;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  color: white;
}

.col-md-6 {
  margin-bottom: 10px;
}

input[type=password]
{
  width: 30em;
  border-color: #ffc107;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  color: white;
}

textarea
{
  width: 30em;
  border-color: #ffc107;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  color: white;
}

textarea:focus {
  background-color: transparent;
  color: white;
}

input[type=email]
{
  width: 30em;
  border-color: #ffc107;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  color: white;
}

.text-center {
  text-align: center;
}

