<section class="jumbotron">
  <div class="container">
    <div class="text-center">
      <p class="text-warning" style="font-size: 60px"><b>Welcome to 2SeeOrNot</b></p>

      <h5 style="color: white">Buy tickets for films in exhibition in a simple, quick way.</h5>
      <h5 style="color: white">Get information about films, such as cast and rating.</h5>
      <h5 style="color: white">View reviews, write your own and give ratings to films.</h5>
      <div class="arrowC">
        <a data-scroll href="#trending">
          <div class="arrow"></div>
        </a>
      </div>

    </div>
  </div>
</section>

<section id="trending">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-6">
        <h2 class="text-warning">Trending</h2>
      </div>
      <div class="col-6 align-self-end" style="text-align: right">
        <a routerLink="/movielist" class="text-warning">See more</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap" style="width: 100%">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3  col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3  col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3  col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>


    </div>

  </div>
</section>

<section id="popular">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-6">
        <h2 class="text-warning">New in</h2>
      </div>
      <div class="col-6 align-self-end" style="text-align: right">
        <a routerLink="/movielist" class="text-warning">See more</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap" style="width: 100%">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3  col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3  col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3  col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>


    </div>

  </div>
</section>
