<section class="jumbotron">
  <div class="container">
    <div class="text-center">
      <p class="text-warning" style="font-size: 60px"><b>Welcome to 2SeeOrNot</b></p>

      <h5 style="color: white">Buy tickets for films in exhibition in a simple, quick way.</h5>
      <h5 style="color: white">Get information about films, such as cast and rating.</h5>
      <h5 style="color: white">View reviews, write your own and give ratings to films.</h5>
      <div class="arrowC">
        <a data-scroll href="#trending">
          <div class="arrow"></div>
        </a>
      </div>

    </div>
  </div>
</section>

<section id="trending" style="padding-top: 5%">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-6">
        <h2 class="text-warning">Popular</h2>
      </div>
      <div class="col-6 align-self-end" style="text-align: right">
        <a routerLink="/movielist/popular" class="text-warning">See more</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-12" *ngFor="let film of popularFilms.slice(0,4)">
        <a routerLink="/movie/{{film.movieId}}">
          <div class="card">
            <img class="card-img-top" src="{{film.picture}}" alt="Movie poster" style="width: 100%">
            <div class="card-body">
              <h2>{{film.title}}</h2>
              <h6><i class="material-icons">star</i>{{film.rating}}</h6>
              <h6>{{film.runtime}} min</h6>
            </div>
          </div>
        </a>
      </div>

    </div>

  </div>
</section>

<section id="popular">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-6">
        <h2 class="text-warning">Recent</h2>
      </div>
      <div class="col-6 align-self-end" style="text-align: right">
        <a routerLink="/movielist/recent" class="text-warning">See more</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-12" *ngFor="let film of recentFilms.slice(0,4)">
        <a routerLink="/movie/{{film.movieId}}">
          <div class="card">
            <img class="card-img-top" src="{{film.picture}}" alt="Card image cap" style="width: 100%">
            <div class="card-body">
              <h2>{{film.title}}</h2>
              <h6><i class="material-icons">star</i>{{film.rating}}</h6>
              <h6>{{film.runtime}} min</h6>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
</section>
