<section id="header">

  <div id="header_carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#header_carousel" data-slide-to="0" class="active"></li>
      <li data-target="#header_carousel" data-slide-to="1"></li>
      <li data-target="#header_carousel" data-slide-to="2"></li>
    </ol>

    <!-- for top 3 movie -->
    <div class="carousel-inner">
      <div class="carousel-item active" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url(https://m.media-amazon.com/images/M/MV5BZDkyMzQ0NjYtZDVlYS00NmVkLWIzZGItYzdmYmY1YzY4MGFhXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_.jpg)">
        <div class="container-fluid header-info">

          <div class="row">
            <div class="col-lg-6 title">
              <h1 style="word-wrap: break-word"><strong>Vivarium</strong></h1>
              <div>
                <h5><strong>Genres</strong></h5>
                <h5><strong>Year</strong></h5>
                <h5><strong>Time min</strong></h5>
              </div>
              <div>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
                <i class="material-icons">star</i>
              </div>
              <div>
                <br>
                <a role="button" routerLink="/buyticket" class="btn btn-warning btn-lg">BOOK</a>
                <a role="button" routerLink="/moviepage" class="btn btn-outline-warning btn-lg text-white">INFO</a>
              </div>
            </div>

            <div class="offset-lg-1 col-lg-5 description">
              <div>
                <h5 class="text-warning"><strong>Director:</strong></h5>
                <h5><strong>Director name</strong></h5>
              </div>

              <div>
                <h5 class="text-warning"><strong>Cast:</strong></h5>
                <h5><strong>2 lead roles names</strong></h5>
              </div>
              <br>
              <div class="plot d-md-block d-none">
                <h5><strong>
                  Lorem ipsum euismod est sagittis eleifend id massa metus maecenas turpis, lacus eros senectus nostra mauris donec ut feugiat euismod, ultricies tincidunt auctor primis habitant mattis viverra semper ligula tempus convallis libero donec etiam habitasse, aliquet quis turpis vel duis laoreet, elementum nisl phasellus cras.
                </strong></h5>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>

  </div>


</section>

<section id="trending">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-6">
        <h1 class="text-warning">Trending</h1>
      </div>
      <div class="col-6 align-self-end" style="text-align: right">
        <a routerLink="/movielist" class="text-warning">See more</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap" style="width: 100%">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3  col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3  col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3  col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>


    </div>

  </div>
</section>

<section id="popular">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-6">
        <h1 class="text-warning">New in</h1>
      </div>
      <div class="col-6 align-self-end" style="text-align: right">
        <a routerLink="/movielist" class="text-warning">See more</a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap" style="width: 100%">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-3  col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3  col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-3  col-12">
        <a routerLink="/moviepage">
          <div class="card">
            <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap">
            <div class="card-body">
              <h2>Movie name</h2>
              <h6><i class="material-icons">star</i>rate</h6>
              <h6>time min</h6>
            </div>
          </div>
        </a>
      </div>


    </div>

  </div>
</section>
