<!DOCTYPE html>
<html>
<head>
	<title>2SeeOrNot</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="cinemaPage.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
	<link href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.css" rel="stylesheet"/>



</head>
<body>

	<div class="row">
            <div class="col-lg-8">
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
               
                            <a class="navbar-brand" style="color: white">2SeeOrNot</a>
                        </div>
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
    </div>

    <div class="container cinema-details">
    	<div class="row">
        	<div class="col-md-6 left-box">
            	<h1 id="cinema_details">Cinema Trindade Porto</h1>           
            	<p id="cinema_details">Rua do Almada 412, 4050-034 Porto, Portugal<br/>Telefone: 22 316 2425</p>
       	 	</div>
       	</div>
    </div>

    <div class="container movies-playing">
    	<h4 id="moviesPlaying">Movies Playing</h4></div>

    <!-- TODO make dynamic -->
    <div class="container owl-carousel" >
    		<div class="rectangle">+
    		</div>
    		<div class="owl-carousel owl-theme" style="width: 1000px;" >
		    	<div class="item">
		    		<img id="img-item" src="https://cinemas.nos.pt/_layouts/15/Handlers/RenderImage.ashx?file=52239.jpg">
		    	</div>
		    	<div class="item">
		    		<img id="img-item" src="https://cinemas.nos.pt/_layouts/15/Handlers/RenderImage.ashx?file=52529.jpg">
		    	</div>
		    	<div class="item">
		    		<img id="img-item" src="https://cinemas.nos.pt/_layouts/15/Handlers/RenderImage.ashx?file=52578.jpg">
		    	</div>
		    	<div class="item">
		    		<img id="img-item" src="https://cinemas.nos.pt/_layouts/15/Handlers/RenderImage.ashx?file=52574.jpg" >
		    	</div>
		    	<div class="item">
		    		<img id="img-item" src="https://cinemas.nos.pt/_layouts/15/Handlers/RenderImage.ashx?file=52544.jpg" >
		    	</div>
		    	<div class="item">
		    		<img id="img-item" src="https://cinemas.nos.pt/_layouts/15/Handlers/RenderImage.ashx?file=52534.jpg" >
		    	</div>
		    
			</div>
    	</div>	


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>

    <script type="text/javascript">
    	$('.owl-carousel').owlCarousel({
		    loop:true,
		    margin:10,
		    nav:true,
		    items : 5, // THIS IS IMPORTANT
      		    responsive : {
                        480 : { items : 1  }, // from zero to 480 screen width 4 items
                        768 : { items : 2  }, // from 480 screen widthto 768 6 items
                        1024 : { items : 3   // from 768 screen width to 1024 8 items
                        }
                    },
		    
		});
    </script>

	

</body>
</html>