body
{
	background-color: #2e2e2e !important;
}

.cinema-details
{
	margin: 4% 0;
}

.left-box
{
	color: white;

}


.movies-playing
{
	color: #ffc107;
}

#moviesPlaying
{
	padding-bottom: 5px;
}

#img-item
{
	width: 180px; 
	height: 235px;
}

.edit-movies
{
	padding-top: 50px !important;
	padding-left: 315px !important;
}




.rectangle {
	width: 190px; 
	height: 235px;
	background-color: #2e2e2e;
	border-color: #ffc107;
	border-style: solid;
	border-width: 1.5px;
	color: #ffc107;
	text-align: center;
	vertical-align: middle;
	line-height: 220px; 
	font-size: 90px;
}

