.navbar {
  margin-top: 5vh;
}


table {
  display: flex;
  flex-flow: column;
  width: 100vw;
  max-height: 70vh;
  overflow:auto;
}

thead {
  flex: 0 0 auto;
}

tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.title
{
  margin: 2% 0;
}


a {
  color: white;
  text-decoration: none;
}

tbody tr a:hover
{
  color: #f0ad4e;
  text-decoration:none;
  cursor:pointer;
}

p
{
  color: white;
}


#requested_by_details
{
  margin: 0 3%;
  color: white;
}

#cinema
{
  margin: 3% 0;
  color: white;
}

#cinema_details
{
  margin: 0% 3%;
}

#accept_deny
{
  margin: 8% 0;
}

