.jumbotron-fluid {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  min-height: 100vh;
}

.title {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 8%;
  padding-left: 10%;
  padding-right: 5%;
  color: white;
}

.rating {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 4%;
}

.title h1 {
  font-size: 10vh;
}

.title h5{
  padding-right: 20px;
  display: inline;
}

#info {
  color: white;
}

#info img {
  width: 100%;
}

.nav > li > a.active > h2{
  color: #f0ad4e !important;
}

.nav > li.active > a:hover{
  color:white !important;
}

.nav-link > h2 {
  color: white;
}

.cast-crew td:first-child, .cast-crew th:first-child {
  font-size: large;
}

.cast-crew td:last-child, .cast-crew th:last-child {
  text-align: right;
}

table {
  color: white;
}

#rating {
  width: 30%;
}

#genreList {
  display: inline-block
}

#genreList a {
  margin-left: 5px;
  color: #f0ad4e;
}

