#title h1 {
  font-size: 8vh;
}

img {
  width: 90%;
}

#genreList {
  display: inline-block;
  width: 100%;
}

#genreList a {
  margin-right: 8px;
  color: #f0ad4e;
}

input[type=text] {
  background-color: transparent;
  border: 1px solid #f0ad4e;
  color: white;
}

#comments span {
  margin-left: 15px;
}

.actorList  a {
  color: #f0ad4e;
}

#filmDetails  a {
  color: #f0ad4e;
}
