<div id="profile">
  <div class="container" style="min-height: 30vh;">
    <h1 class="text-warning">Profile</h1>
    <hr class="border border-warning">
    <h4>Info </h4>
    <div class="row">
      <div class="col-md-2">
        <h5>Email:</h5>
      </div>
      <div class="col-md-8">
        <p>{{userEmail}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <h5>Password:</h5>
      </div>
      <div class="col-md-8" *ngIf="!changePasswordToggle">
        <a id="ChangePasswordToggle" (click)="changePasswordToggle = true">change password</a>
      </div>
      <div class="col-10" *ngIf="changePasswordToggle">
        <form [formGroup]="changePwdGroup" (submit)="changePassword()">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="OldPasword">Old Password:</label>
                <input type="password" id="OldPasword" class="form-control" formControlName="oldPassword">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="NewPassword">New Password:</label>
                <input type="password" id="NewPassword" class="form-control" formControlName="newPassword">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="ConfirmPassword">Confirm New Password:</label>
                <input type="password" id="ConfirmPassword" class="form-control" formControlName="confirmPassword">
              </div>
            </div>

            <div class="col-md-3" style="margin-top: 30px">
              <div class="form-row">
                <input type="submit" class="btn btn-warning">
                <button style="margin-left: 10px" class="btn btn-outline-warning">Cancel</button>
              </div>
            </div>
          </div>
          <p *ngIf="errorMsg" class="text-danger"> {{errorMsg}}</p>
        </form>
      </div>
    </div>
    <br>
  </div>

  <div class="container">
    <h4>Ticket History </h4>
    <a routerLink="ticketlist" class="btn btn-warning">Go to ticket page</a>
  </div>
  <br>

  <div class="container">
    <h4>Favourite Movies <a href="#"><i class="material-icons">edit</i></a></h4>
    <div class="container">
      <div class="row">
        <div class="col-md-2 card" style="padding-top: 8vh;height: 25vh; background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
                             url(https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg); background-repeat: no-repeat; background-size: cover">
        </div>
      </div>
    </div>
  </div>
  <br>

  <div class="container">
    <h4>Account Manage </h4>
    <a href="#" class="btn btn-warning" (click)="logout()">Log out</a>
    <a href="#" class="btn btn-outline-warning">Delete account</a>
  </div>
</div>
