<div class="container">
  <section style="margin-top: 5%">
    <h2 class="text-warning">Your room layouts</h2>
  </section>


  <section style="margin: 5% 0">
    <table class="table">
      <thead>
        <tr>
          <th>Layout name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms">
          <td><a (click)="showRoom(room.id)">{{room.name}}</a></td>
        </tr>

      </tbody>
    </table>

  </section>


  <button class="btn btn-warning" routerLink="/cinema/rooms/add">Add Room</button>

</div>
