<div class="container-fluid">
  <div class="row">

    <div class="col-md-2" id="filters">
      <app-filters (filterEvent)="receiveFilters($event)"></app-filters>
      <br>
    </div>

    <div class="col-md-10" id="movies">
      <div class="row">
        <div class="col-xl-2 col-md-4 col-xs-6 col-12" *ngFor="let film of films">
          <a routerLink="/movie/{{film.movieId}}">
            <div class="card">
              <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap" style="width: 100%">
              <div class="card-body">
                <h4>{{film.title}}</h4>
                <h6><i class="material-icons">star</i>{{film.rating}}</h6>
                <h6>{{film.runtime}} min</h6>
              </div>
            </div>
          </a>
        </div>

      </div>

    </div>
  </div>
</div>
