<div class="container-fluid">
  <div class="row">

    <div class="col-md-2" id="filters">
      <app-filters></app-filters>
      <br>
    </div>

    <div class="col-md-10" id="movies">
      <div class="row">
        <div class="col-xl-2 col-md-4 col-xs-6 col-12">
          <a routerLink="/moviepage">
            <div class="card">
              <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg" alt="Card image cap" style="width: 100%">
              <div class="card-body">
                <h4>Movie name</h4>
                <h6><i class="material-icons">star</i>rate</h6>
                <h6>time min</h6>
              </div>
            </div>
          </a>
        </div>

      </div>

    </div>
  </div>
</div>
