<div class="container-fluid">
  <div class="row">

    <div class="col-md-2" id="filters">

      <div class="container-fluid " style="height: 80vh; width: 100%;">
        <form id="filterForms" [formGroup]="filterForm">
          <div class="form-row d-flex justify-content-between ">
            <h2 class="text-warning align-self-end">Filters</h2>
            <a type="clear" href="/movielist" class="align-self-end" style="color: white">Clear</a>
          </div>
          <hr class="border-warning">

          <div class="form-group">
            <a class="btn" href="/movielist/popular" [ngClass]="{'btn-warning' : this.filter=='popular', 'btn-outline-warning' : this.filter!='popular'}"  style="width: 100%">Popular</a>
          </div>

          <div class="form-group">
            <a class="btn" href="/movielist/recent" [ngClass]="{'btn-warning' : this.filter=='recent', 'btn-outline-warning' : this.filter!='recent'}" style="width: 100%">Recent</a>
          </div>

         <div class="form-group">
            <label for="year">Year:</label>
            <select (change)="selectYear()" class="form-control form-control-sm border-warning text-warning" id="year" formControlName="year" style="background-color: transparent;">
              <option [ngValue]='null'>Select Year</option>
              <option *ngFor="let y of years" [ngValue]="y.value">{{y.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="genre">Genre:</label>
            <select (change)="selectGenre()" class="form-control form-control-sm border-warning text-warning" id="genre" formControlName="genre" style="background-color: transparent;">
              <option [ngValue]='null'>Select Genre</option>
              <option *ngFor="let g of genres" [ngValue]="g.value">{{g.name}}</option>
            </select>
          </div>
        </form>
      </div>




      <br>
    </div>

    <div class="col-md-10" id="movies">
      <div class="row" *ngIf="films.length >0">
        <div class="col-xl-2 col-md-4 col-xs-6 col-12" *ngFor="let film of films">
          <a routerLink="/movie/{{film.movieId}}">
            <div class="card">
              <img class="card-img-top" src="{{film.picture}}" alt="Card image cap" style="width: 100%">
              <div class="card-body">
                <h4>{{film.title}}</h4>
                <h6><i class="material-icons">star</i>{{film.rating}}</h6>
                <h6>{{film.runtime}} min</h6>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="container text-center" style="padding-top: 2%" *ngIf="films.length==0">
        <h4>Nothing to show here:</h4>
        <span>No movies where found</span>
      </div>


      <div *ngIf="films.length > 0">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-1">
              <button *ngIf="currentPage>1" (click)="previousPage()" class="btn btn-warning">Back</button>
            </div>

            <div class="col-3 text-center">
              <p>Page {{currentPage}} of {{totalPages}}</p>
            </div>

            <div class="col-1">
              <button *ngIf="currentPage < totalPages" (click)="nextPage()" class="btn btn-warning">Next</button>
            </div>

          </div>
        </div>
        <br>
      </div>


    </div>


  </div>
</div>
