<div class="container-fluid">
  <div class="row">
    <div class="col-md-2" id="filters">
      <!-- Filter columns-->
      <section>

      </section>
      <br>
    </div>
    <div class="col-md-10 ticketList">
      <div class="col-lg-10">
        <h1 class="text-warning">Active tickets</h1>
        <hr class="border-warning">
      </div>
      <div class="row">
        <!-- for ticket in myTickets -->
        <div class="col-lg-3" style="padding-top: 8vh;height: 58vh; background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                             url(https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg); background-repeat: no-repeat; background-size: cover">
          <div class="container text-center">
            <h1>Movie name</h1>
            <br>
            <h4>Cinema name</h4>
            <div class="container" style="padding-top: 2vh">
              <h6 class="d-inline">Date</h6>
              <h6 class="d-inline">Time</h6>
              <h6 class="d-inline">Room</h6>
            </div>
            <div class="container" style="padding-top: 4vh">
              <table class="table table-sm">
                <tr>
                  <td>Row</td>
                  <td>Seat</td>
                </tr>
                <tr>
                  <td>Row</td>
                  <td>Seat</td>
                </tr>
              </table>
            </div>
            <div class="container" style="padding-top: 15vh">
              <p>Purchase date</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-10 ticketList">
        <h1 class="text-warning">Inactive tickets</h1>
        <hr class="border-warning">
      </div>
      <div class="row">
        <!-- for ticket in myTickets -->
        <div class="col-lg-2" style="padding-top: 5vh;height: 40vh; background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                             url(https://m.media-amazon.com/images/M/MV5BYmEyZGQyMmItZTdjMC00YmZhLTk4YjUtNzkzZDc2NDYyMGMxXkEyXkFqcGdeQXVyMzQwMTY2Nzk@._V1_.jpg); background-repeat: no-repeat; background-size: cover">
          <div class="container text-center">
            <h2>Movie name</h2>
            <br>
            <h5>Cinema name</h5>
            <div class="container" style="padding-top: 2vh">
              <h6 class="d-inline">Date</h6>
              <h6 class="d-inline">Time</h6>
              <h6 class="d-inline">Room</h6>
            </div>
            <div class="container" style="padding-top: 2vh">
              <table class="table table-sm">
                <tr>
                  <td>Row</td>
                  <td>Seat</td>
                </tr>
                <tr>
                  <td>Row</td>
                  <td>Seat</td>
                </tr>
              </table>
            </div>
            <div class="container" style="padding-top: 5vh">
              <p>Purchase date</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
